body {
  margin: 0;
  padding: 0;
  background: #232323;
  background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-253019.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  color: #383f51;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.nav-background {
  background: rgba(56, 63, 81, .25);
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}

.purphub {
  font-weight: 100;
  color: #f7dd72;
  font-size: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

h3 {
  display: grid;
  font-family: "Avenir Next";
  font-style: italic;
  text-align: center;
}

#panebox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pane {
  text-align: center;
  background-color: rgba(56, 63, 81, .25);
  width: 20vw;
  height: 25vw;
}

#fulltweet {
  position: relative;
  color: #f5a549;
  text-align: center;
  border: 1px solid red;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #f5a549;
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

.hamburger {
  position: relative;
  width: 40px;
  height: 20px;
  padding: 40px;
}
.hamburger .container {
  position: relative;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger:hover .line1 {
  top: -1px;
}
.hamburger:hover .line3 {
  top: 19px;
}
.hamburger.active:hover .line1 {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
.hamburger.active:hover .line3 {
  -webkit-transform: rotate(-140deg);
          transform: rotate(-140deg);
}
.hamburger.active .line1 {
  top: 9px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.hamburger.active .line2 {
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
  opacity: 0;
}
.hamburger.active .line3 {
  top: 9px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.hamburger .line {
  position: absolute;
  width: 40px;
  height: 2px;
  background: white;
  border-radius: 2px;
  transition: 0.3s all;
  opacity: 1;
}
.hamburger .line1 {
  top: 0;
}
.hamburger .line2 {
  top: 9px;
}
.hamburger .line3 {
  top: 18px;
}