body {
  margin: 0;
  padding: 0;
  background: #232323;
  background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-253019.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  color: #383f51;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.nav-background {
  background: rgba(56, 63, 81, .25);
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}

.purphub {
  font-weight: 100;
  color: #f7dd72;
  font-size: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

#social {
  display: flex;
  order: 3;
}

.fa {
  display: relative;
  padding: 3px;
  font-size: 20px;
}
h3 {
  display: grid;
  font-family: "Avenir Next";
  font-style: italic;
  text-align: center;
}

#panebox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pane {
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(56, 63, 81, .25);
  width: 20vw;
  height: 25vw;
  color: #f7dd72;
  font-size: 40px;
  font-weight: 100;
}

.pane:hover {
  color: tomato;
  transform: scale(1.05);
}

#fulltweet {
  position: relative;
  color: #f5a549;
  text-align: center;
  padding: 10px;
  margin: 40px;
}

a {
  text-decoration: none;
  color: #f5a549;
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

.hamburger.active ~ ul {
  transform: translate(100%, 0);
}
.hamburger {
  position: relative;
  width: 40px;
  height: 20px;
  padding: 40px;
}
.hamburger .container {
  position: relative;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger:hover .line1 {
  top: -3px;
}
.hamburger:hover .line3 {
  top: 21px;
}
.hamburger.active:hover .line1 {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
.hamburger.active:hover .line3 {
  -webkit-transform: rotate(-140deg);
          transform: rotate(-140deg);
}
.hamburger.active .line1 {
  top: 9px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.hamburger.active .line2 {
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
  opacity: 0;
}
.hamburger.active .line3 {
  top: 9px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.hamburger .line {
  position: absolute;
  width: 40px;
  height: 2px;
  background: white;
  border-radius: 2px;
  transition: 0.3s all;
  opacity: 1;
}
.hamburger .line1 {
  top: 0;
}
.hamburger .line2 {
  top: 9px;
}
.hamburger .line3 {
  top: 18px;
}